h1,h2 {
  text-align: center;
}

.photoHolder {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-item {
  width: auto;
  margin: 10px;
  text-align: center;
  font-size: 22px;
}

.photo-item img {
  box-shadow: 0px -1px 15px -3px rgba(0,0,0,0.75);

}